body{
   
    
    font-family: Arial, sans-serif;
    margin: 0;  
    padding: 0;
    color: #333;
    text-align: center;
background-color: #fcfad7;
}



header {
    background-color: rgba(249, 233, 172, 0.8);
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0; 
  
    
}


h1 {
    color: #444;
   
}


.gallery_item {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: #000204;
}

nav {
    position: sticky;
    top: 0;
     background-color:  rgba(249, 233, 172, 0.8);
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
  
   color:black
  
   
}

img {
    width: 33.33%;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
img:hover
 {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.5);
}


p::first-letter {
  color: rgb(229, 149, 22);
  
}



li.powieksz:hover {
    float: left;
  transform: scale(1.2);
}
a:hover {
 transform: scale(1.1);

}
a:visited {
  color: #060606;
}
li:hover {
  transform: scale(1.1);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#contact { 
border-radius: 10px;
}
#rozwinmenu{
    display: none;
}


 