body{
   
    
    font-family: Arial, sans-serif;
    margin: 0;  
    padding: 0;
    color: #333;
    text-align: center;
background-color: #fcfad7;
}



header {
    background-color: rgba(249, 233, 172, 0.8);
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0; 
  
    
}

.back-button {
    height: 50%;
    position: absolute;
    top: 0px;
    left: 80px;
   padding: 0px 0px;
    background-color: #f6eca5;
    color: rgb(11, 0, 0);
    border: none;
 
    cursor: pointer;
   
}
img.figura {

   position:absolute;
    width: 33.33%;
    height: auto;
    margin: 0px;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

h1 {
    color: #444;
   
}

ul.powieksz {
   
    text-align: center;
    list-style-type: none;
    padding: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
#funfacts {
    background-color: rgba(245, 230, 159, 0.36);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
button {
    padding: 10px 20px;
    font-size: 30px;
    background-color: #fff7a5;
    color: rgb(1, 1, 1);
    border: none;
    border-radius: 5px;     
    cursor: pointer;
    margin-top: 0;
    position: fixed;
    bottom: 20px;
    left: 50%;  
    transform: translateX(-50%);
   
}
.gallery_item {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
ul{
   
    text-align: center;
    list-style-type: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000204;
}

nav {
    position: sticky;
    top: 0;
     background-color:  rgba(249, 233, 172, 0.8);
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
  
   color:black
  
   
}
@keyframes kf{
  from{background-color: #f9f8e9;}
    to{background-color: #f5e89f;}
}
img {
    width: 33.33%;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
img:hover
 {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.5);
}

li.powieksz {
     max-width: 800px;
transition: 1s;
    float: left;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;

}

p::first-letter {
  color: rgb(229, 149, 22);
  
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
   background-color:  rgba(249, 233, 172, 0.8);

}
.funfun{
    padding: 10px 20px;
    font-size: 30px;
    background-color: #f5f0b3;
    color: black;
    border: none;
    border-radius: 5px;     
    cursor: pointer;
    margin-top: 0;
    position: fixed;
    bottom: 20px;
    left: 90%;  
        
}
.home-link{
    animation: kf 5s infinite;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #fdf6a9;
    color: rgb(4, 3, 3);
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    z-index: 2000;
}

.image_ {
    position: relative;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
li.powieksz:hover {
    float: left;
  transform: scale(1.2);
}
a:hover {
 transform: scale(1.1);

}
a:visited {
  color: #060606;
}
li:hover {
  transform: scale(1.1);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#contact { 
border-radius: 10px;
}
#rozwinmenu{
    display: none;
}
@media screen and (min-width: 801px) {
  
    
    #menu {
        display: block;
    }
  
    #rozwinmenu{
        display: none;
    }
    
}
.drop{
    display: none;

}
#jakiekolwiek:hover
{
    .drop {
    display: block;     
    margin: 0;
    float: none;       
}
#jakiekolwiek:hover ul {
    opacity: 1;          
    visibility: visible;   
    transform: translateX(-50%) translateY(0); 
}
    
}
#jakiekolwiek {
    position: relative; 
}

@media screen and (max-width: 800px) {
    body {
        font-size: 14px;
    }
    nav, ul, li, img, .powieksz, header{

        margin:0;
       padding: 0;
      float: left;
      
        width: 100%;
        object-fit: cover;

       
    }
    #menu {
        display: none;
    }
    nav,.powieksz, header{
        position: relative;
        padding: 10px;
        border-radius: 10px;
      
        height:20%;
    }

    #rozwinmenu{
        display: block;
       
        background-color: #f5f0b3;
        color: black;
        border: none;
           height: 10%;
           position: sticky;
           top: 10px;
           left: 40px;
        cursor: pointer;
      
    }
    #menu.pokaz {
        display: block; 
    }
}
